.main{
    display: grid;
    grid-template-columns: 1fr 300px;
} 
.firstsection{
    margin-inline: 30px;
    position: relative;
    top: 70px;
}
.headingSection{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 230px;
    justify-content: space-around;
}
.logo{
    background-color: red;
    width: 70px;
    height: 70Px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px wheat;
}
.girdstyle{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.inform{
    background-color:gainsboro;
    height: 100vh;
    position: sticky;
    top: 0;
}
.headername{
    color: rgb(88, 81, 71);
}