.main{
    display: grid;
    grid-template-columns: 1fr 300px;
} 
.firstsection{
    margin-inline: 30px;
    position: relative;
    top: 70px;
}
.headingSection{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 230px;
    justify-content: space-around;
}
.logo{
    width: 50px;
    height: 50Px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px rgb(24, 80, 104);
}
.girdstyle{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.inform{
    background-color:gainsboro;
    height: 120vh;
    position: sticky;
    top: 0;
}
.headername{
    color: rgb(88, 81, 71);
    text-shadow: 1px 1px 2px steelblue;
}
.selected{
    font-size: 20px;
    color: rgb(72, 70, 70);
}
@media screen and ( max-width:768px) {
    .girdstyle{
        grid-template-columns: repeat(2 ,1fr);
    }
    .main{
        grid-template-columns: 1fr;
    }
    .inform{
        margin-inline: 30px;
        margin-top: 100px;
    }
}
@media screen and (max-width:576px) {
    .girdstyle{
        grid-template-columns: 1fr;
    }
}