.main{
    display: grid;
    grid-template-columns: 1fr 300px;
} 
.firstsection{
    margin-inline: 30px;
    position: relative;
    top: 70px;
}
.headingSection{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 230px;
    justify-content: space-around;
}
.logo{
    background-color: red;
    width: 70px;
    height: 70Px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px rgb(24, 80, 104);
}
.girdstyle{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.inform{
    background-color:gainsboro;
    height: 120vh;
    position: sticky;
    top: 0;
}
.headername{
    color: rgb(88, 81, 71);
}
.selected{
    font-size: 20px;
    color: rgb(72, 70, 70);
}
@media screen and( max-widht:930px) {
    .girdstyle{
        grid-template-columns: repeat(2,1fr);
    }
}