.img{
    width: 70px;
    height: 70px;
}
.my-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.health-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: skyblue;
}
.information{
    margin-inline: 20px;
}